#headerwrap{
  background: url(https://image.jimcdn.com/app/cms/image/transf/none/path/sf84db3920b66dcc4/image/icd6c4a46fbde9808/version/1418330941/image.jpgg) no-repeat center top;
  min-height: 600px;
}

.img_elastic{
  background: url(https://image.jimcdn.com/app/cms/image/transf/none/path/sf84db3920b66dcc4/image/icd6c4a46fbde9808/version/1418330941/image.jpg) no-repeat center top;

  padding-top: 20px;
  text-align: center;

  background-position: center center;
  width: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
